page-immunize {

    .bg-image{
        background-image: url('../assets/pub.png');
        background-repeat: no-repeat;
        background-position: bottom;
        background-size:contain; 
    }
    
}
