page-pregnant {

    .my-button:hover{
        background-color: #e0876a !important;
    
    }

    .bg-image{
        background-image: url('../assets/pub.png');
        background-repeat: no-repeat;
        background-position: bottom;
        background-size:contain; 
    }
    

}


