page-school-health {

    .bg-image1{
        background-image: url('../assets/pub.png');
        background-repeat: no-repeat;
        background-position: bottom;
        background-size:contain; 
    }

    .scroll-ion-card-content{
        align-content: center;
        display: flex;
        flex-direction: column;
        justify-content: top;
        text-align: center;
    }
    .card{
        box-shadow: none;
        background: rgb(231, 249, 255);
        border-radius: 5px;

    
    }
 
    .my-button:hover{
        background-color: #e0876a !important;
    }
    

}
