page-home {

    .card{
        box-shadow: none;
        background: rgb(231, 249, 255);
        border-radius: 5px;
        
        }
        
        .my-button:hover{
            background-color: #e0876a !important;
        
        }
        

}

